.bg-darkblue01{
    background-color: rgb(207, 212, 237);
}

.bg-darkblue05{
    background-color: rgb(5, 27, 111);
}

.bg-darkblue04{
    background-color: rgb(12, 40, 166);
}

.bg-darkblue03{
    background-color: rgb(94, 112, 196);
}

.bg-darkblue02{
    background-color: rgb(174, 183, 226);
}

.flex-nav{
    flex-grow: initial;
}

.wd-100{
    max-width: 100% !important;
}
.ml-100{
    height: 100vh ;
}
.ml-75{
    height: 75vh ;
}
.ml-55{
    height: 55vh ;
}
.ml-45{
    height: 45vh ;
}
.wd-85{
    width: 85% !important;
}
.wd-65{
    width: 65% !important;
}
.wd-15{
    width: 15%% !important;
}
.textwdt1{
    width: 30%;
}
.pdnav{
    padding: 136px;
}
.pdl{
    padding: 0 136px;
}
.pdtext{
    padding: 20px 400px 0px 400px;
}
.pdtop{
    padding: 55px 0px 0px 0px;
}
.pdbox{
    padding: 55px 0px 200px 0px;
}
.pdcard{
    padding: 20px 0px;
}
.mrgbot25{
    margin: 0px 0px 20px 0px;
}
.mrg-15{
    margin-left: 15px;
}
.navbar-brand{
    Width: 100px;
    height: 34px;
}
.kotakmobil{
    position: absolute;
    width: 98.5%;
    height: 60%;
    bottom: 0;
    border-top-left-radius: 60px;
}
.card{
    width: 268px;
    height: 196px;
    border-radius: 10px;
}
.border-top{
    border: 1px solid rgba(0,0,0,0.125);
}
.body{
    overflow-x:hidden
}

.circle-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.circle-pct{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.star-size{
    height: 16px;
    width: 16px;
}
.posisi-mobil{
    z-index: 10; 
    position: relative;
}
.init{
    text-align: initial;
}
.size-check{
    width: 24px;
}
.size-card1{
    width: 2rem; 
    height: 2rem;
    border-radius: 50%;
    background-color: yellow;
}
.br-5px{
    border-radius: 5px;
}
.br-10px{
    border-radius: 10px;
}
.jrk-btn{
    width: 120px; 
    margin: 50px;
}